/* Global */

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
    color: #fff;
    background-color: #000;
}

/* Global Button */

.button-holder {
    padding: 6px;
    border: 1px solid #404040;
}

.button-holder:hover {
    text-decoration: none;
}

.button-holder.top-left-rounded {
    border-top-left-radius: 35px;
}

/* Nav */

nav {
    position: fixed;
}

/* Typos */

h2,
.style-h2 {
    font-weight: bold;
    font-size: 56px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.85),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

p,
.style-p {
    max-width: 720px;
    font-weight: 300;
    font-size: 22px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.85),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}